grpcio-health-checking==1.80.0
grpcio==1.80.0
opentelemetry-distro==0.62b0
opentelemetry-exporter-otlp-proto-grpc==1.41.0
python-dotenv==1.2.2
python-json-logger==4.1.0
openfeature-sdk==0.9.0
openfeature-provider-flagd==0.4.0
openfeature-hooks-opentelemetry==0.3.1
psutil==7.2.2 # Importing this will also import opentelemetry-instrumentation-system-metrics when running opentelemetry-bootstrap

opentelemetry-instrumentation-grpc==0.62b0
openai>=2.32.0
langchain==1.2.15
langchain_community